/* buttons style */
.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
}
.storybook-button--primary {
  color: white;
  background-color: #1955A6;
  border-radius: 0.5em;
}
.storybook-button--secondary {
  color: #1955A6;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.arrow:after {
  content: '';
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px; 
  margin-left: 10px;
  position: absolute;
  top: 13px;
  right: 7px;
  
}
.storybook-button--secondary.arrow:after {
  border-color: #1955A6;
}

.down:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}